APP_NAME='Kakbima'
APP_ENV=production
APP_DEMO=false
APP_KEY=
APP_DEBUG=false
APP_URL=https://accounts.kakbima.com
APP_TIMEZONE="UTC"
APP_DEFAULT_LANGUAGE="en"
APP_FALLBACK_LOCALE=sw
APP_FAKER_LOCALE=en
APP_MAINTENANCE_DRIVER=file
# Logging configs
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_PAPERTRAIL_HANDLER=
LOG_SLACK_WEBHOOK_URL=
DB_CONNECTION=mariadb
DB_HOST="localhost"
DB_PORT="3306"
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
#DB_TABLE_PREFIX=
BROADCAST_DRIVER=log
CACHE_STORE="file"
CACHE_PREFIX=
QUEUE_CONNECTION=sync
# Sessions configs
SESSION_DRIVER=file# change to database in production
SESSION_ENCRYPT=true
SESSION_LIFETIME=43200# in minutes
SESSION_COOKIE=
SESSION_SECURE_COOKIE=true
SESSION_PATH=/
SESSION_DOMAIN=.kakbima.com
# Redis configs
REDIS_CLIENT=
REDIS_CLUSTER=
REDIS_PREFIX=hfn_redis_
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1
# Mailgun configurations
MAILGUN_DOMAIN=
MAILGUN_SECRET=
MAILGUN_ENDPOINT=api.eu.mailgun.net
# Mail service configs
MAIL_MAILER=failover
MAIL_HOST="${MAILGUN_ENDPOINT}"
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@accounts.kakbima.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_LOG_CHANNEL=stack
# Files storage
FILESYSTEM_DISK="public"
# AWS S3 configs
FILESYSTEM_CLOUD=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_URL="https://${AWS_BUCKET}.s3.region.amazonaws.com"
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_ENDPOINT=
# Password hashing configs
HASHING_DRIVER=argon2id# argon2id make sure Argon is compiled with php
BCRYPT_ROUNDS=
ARGON_MEMORY=
ARGON_THREADS=
ARGON_TIME=
# App password configurations in minutes
AUTH_PASSWORD_RESET_EXPIRES=15
# App password configurations in seconds
PASSWORD_CONFIRMATION_TIMEOUT=10800
# App verification link expiration
EMAIL_VERIFICATION_EXPIRE=15
# CSP hashes group. Single hash or multiple hashes. Just commas; no quotes; no spaces
CSP_SCRIPT_HASHES=
CSP_STYLE_HASHES=
CSP_STYLE_ATTRIBUTE_HASHES=
# CSP URLs group. Single URL or multiple URLs. Just commas; no quotes; no spaces
CSP_SCRIPT_SOURCES=
CSP_STYLE_SOURCES=
CSP_IMG_SOURCES=
CSP_FONT_SOURCES=
CSP_CONNECT_SOURCES=
CSP_FRAME_SOURCES=
# Inertia configs
INERTIA_SSR_THROW_ON_ERROR="${APP_DEBUG}"
INERTIA_ENSURE_PAGES_EXIST="${APP_DEBUG}"
# Vite Js configs
VITE_APP_NAME="${APP_NAME}"
VITE_APP_DEMO="${APP_DEMO}"
VITE_SESSION_DOMAIN="${SESSION_DOMAIN}"
VITE_APP_URL="${APP_URL}"
VITE_DEFAULT_LOCALE="${APP_DEFAULT_LANGUAGE}"
VITE_APP_DOMAIN_NAME=kakbima.com
