# Node & Package Management
/node_modules/
/vendor/
/composer1.phar
npm-debug.log
yarn-error.log
yarn-debug.log
# Laravel Specific
/public/hot
/public/storage
/public/static
/public/sitemap.xml
/storage/*.key
/storage/*.index
/storage/app/analytics-api.json
/storage/logs/
/storage/uploads/
/storage/framework/
/storage/pail
# Environment Files
.env
.env.backup
.env.production
.env.demo
# Laravel Debug & Cache
.phpunit.result.cache
.phpunit.cache
.php-cs-fixer.cache
auth.json
debug_paytabs.log
error_log
laravel-echo-server.json
# IDEs & Tooling
/.idea/
/.vscode/
/.phpactor.json
/.fleet/
/.nova/
/.zed/
# Docker & Homestead
docker-compose.override.yml
Homestead.json
Homestead.yaml
.vagrant
# Misc
.sass-cache/
.DS_Store
/bootstrap/ssr
